[init]
    defaultBranch = main
[user]
    email = 43828146+RichardEpure@users.noreply.github.com
    name = Richard
[core]
    editor = nvim
    excludesFile = ~/.gitignore
[pull]
    rebase = false
[merge]
    tool = vimdiff
