[init]
    defaultBranch = main
[user]
    email = 43828146+RichardEpure@users.noreply.github.com
    name = Richard
	signingkey = ~/.ssh/github_signing.pub
[core]
    editor = nvim
    excludesFile = ~/.gitignore
[pull]
    rebase = false
[merge]
    tool = vimdiff
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[commit]
	gpgsign = true
[tag]
	gpgSign = true
[gpg]
	format = ssh
